**/.git
**/.gitignore
**/node_modules
**/dist
**/tmp
**/.angular
**/.nx
**/.editorconfig
**/.prettierrc
**/.eslintrc.js
**/.gitkeep
docker-compose.yml
Dockerfile.dev
.env
.env.*
README.md
LICENSE
.npmrc
.yarnrc
